fastapi
uvicorn[standard]
sqlalchemy
alembic
pydantic
pydantic[email]
pydantic-settings
pydantic_core
python-jose[cryptography]
passlib[bcrypt]
python-multipart
psycopg2-binary
asyncpg
pytest
pytest-asyncio
httpx
jinja2
aiohttp
python-dotenv